---
IndentWidth: 4
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  SplitEmptyFunction: false
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
IndentPPDirectives: AfterHash
NamespaceIndentation: None
---
Language: Cpp
ColumnLimit: 100
Standard: c++20
---
