/Release
/Debug
/build
PowerWAF.xcodeproj
CMakeLists.txt.user
compile_commands.json
.cache

.DS_Store
tests/default.profraw

perf/test_files/parsed_*
perf/test_files/breakdown.numbers

/fuzzing/build
/fuzzing/venv
/fuzzing/corpus

/fuzzing/sample_rules.yml
/fuzzing/sample_dict.txt
/fuzzing/fuzzer
/fuzzing/libddwaf.a
/fuzzing/fuzzer.dSYM
/fuzzing/default.profdata
/fuzzing/default.profraw
/fuzzing/coverage.html
/fuzzing/fuzz-*.log
/fuzzing/results/crash-*

/src/version.hpp

*.trace
.vscode
*.swp
*.swo
