/Release
/Debug
/build
PowerWAF.xcodeproj
CMakeLists.txt.user
compile_commands.json
.cache

.DS_Store
tests/default.profraw

perf/test_files/parsed_*
perf/test_files/breakdown.numbers

/fuzzer/global/build
/fuzzer/global/venv
/fuzzer/global/corpus

/fuzzer/global/sample_rules.yml
/fuzzer/global/sample_dict.txt
/fuzzer/global/fuzzer
/fuzzer/global/libddwaf.a
/fuzzer/global/fuzzer.dSYM
/fuzzer/global/default.profdata
/fuzzer/global/default.profraw
/fuzzer/global/coverage.html
/fuzzer/global/fuzz-*.log
/fuzzer/global/results/crash-*

/fuzzer/*/corpus/*
!/fuzzer/*/corpus/corpus-*

/src/version.hpp
/tests/common/base_path.hpp

*.trace
.vscode
*.swp
*.swo
*.swn
